.ProfileSocialClickable {
    font-size: 22px;
    width: 350px;
    color:#86C232;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  
.ProfileSocialEditableMessage {
    width: 98%;
    resize: none;
    position: relative;
  }

.ProfileSocialEdit{
    margin-top:4px;
}

.ProfileSocialSave,
.ProfileSocialCancel {
    margin-top: 37px;
}

.ProfileSocialEdit,
.ProfileSocialSave,
.ProfileSocialCancel {
  width: fit-content;
  display: block;
  position: relative;
  float: right;
}