
@media screen and (max-width: 700px) {
  .agreeContainer {
    display: none !important;
  }
}
agreeContainer {
  position: absolute;
  right: 15px;
}
.agree {
  float: right;
}
.agreeOptions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.agreeText {
  font-size:20px;
}
.agreeButton {
  max-width:200px;
}
.percentageDisplay {
  float: right;
}
.smlButton {
  float: right;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight:bold;
  color: #61892F;
}
.percentageText {
  color: #61892F;
  font-size: 35px;
}
