body {
   background-color:#222629;
   color:#6B6E70;
}
.CurrentUserContainer {
  height:100%;
}
button {
  background-color:#474B4F;
  color:#6B6E70;
  width:100%;
  font-size: 3.5vh;
}
.profilePic {
  float:right;
  height:100%;
  width:10vw;
}