body {
   background-color:#222629;
   color:#6B6E70;
}
button {
  background-color:#474B4F;
  color:#6B6E70;
  width:100%;
  font-size: 3.5vh;
}
.TopNavBar {
  height: 10vh;
  border: 1px solid black;
}
.TheZoneButton{
  float:left;
  left: 40%; 
  height:100%;
  width:20vw;
}
.logo {
  float:left;
  height:100%;
  width:40vw;
}
.CurrentUser{
  height:100%;
}
